@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";


.card {
    border-radius: 10px;
    border: 2px solid green;
    padding: 0 20px 20px 10px;
    box-shadow: 2px 2px 14px rgb(76, 165, 81);
}

body {
    background-color: whitesmoke;
}